@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $size, $color) {
  -webkit-box-shadow: $x $y $size $color;
  -moz-box-shadow: $x $y $size $color;
  box-shadow: $x $y $size $color;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($type) {
  -webkit-flex-direction: $type;
  -ms-flex-direction: $type;
  flex-direction: $type;
}

@mixin animation($data) {
  -webkit-transition: $data;
  -moz-transition: $data;
  -ms-transition: $data;
  -o-transition: $data;
  transition: $data;
}

@mixin transform($func) {
  -webkit-transform: $func;
  -moz-transform: $func;
  -ms-transform: $func;
  -o-transform: $func;
  transform: $func;
}