$color-bg : #f2f2f2;
$color-block : #f8f7f7;
$color-green : #19291e;
$color-black : #2e2e2e;
$color-menu-caption : rgba(8, 19, 29, 0.5);
$color-white : #ffffff;
$color-gray : #757575;
$color-gray2 : #c5c5c5;
$color-gray3 : #ababab;
$color-gray4 : #e0e0e0;
$color-gray5 : #e2e2e2;
$color-yellow : #ffb400;
$color-tabs-link : #ccd3ce;
$color-tabs-link-hover : #4fcba1;
$color-progress-green : #02e34a;
$color-orange : #ff3e19;

$block-padding : 25px;